################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/.vs/API
/API/bin/Debug/net9.0
/API/obj
